<div class="row row-fluid well well-small">
  <% favorite = user.favorite?(list) %>

  <div class="span1">
    <% icon_file = list.private? ? "lock" : "globe-blue" %>
    <% alt_text =  list.private? ? t('private') : t('public') %>
    <%= icon_128x128(icon_file, :width => '32px', :height => '32px', :alt => alt_text, :text => alt_text, :rel => :tooltip, :title => alt_text) %>
    <%= icon_32x32("favorites", :class => "spaced", :rel => :tooltip, :title => t('favorited')) if favorite %>
  </div>

  <div class="span9">
    <h6><%= link_to list.name.html_safe, user_list_path(user, list) %></h6>
    <small><%= "#{list.tasks.count} #{t('tasks').downcase}"  %></small>
  </div>

  <div class="span2">
    <div class="btn-group">
      <a class="btn dropdown-toggle" data-toggle="dropdown" href="#">
        <%= t('options') %><span class="caret"></span>
      </a>
      <ul class="dropdown-menu">
      <% if favorite %>
        <li><%= link_to "<i class='icon-star'></i> #{t('unfavorite')}".html_safe, [favorite.user, favorite.list, favorite], :method => :delete, :remote => true %></li>
      <% else %>
        <li><%= link_to "<i class='icon-star'></i> #{t('favorite')}".html_safe, user_list_favorites_path(user, list), :method => :post, :remote => true %></li>
      <% end %>
      <% if list.owner?(current_user) %>
        <li><%= link_to "<i class='icon-edit'></i> #{t('edit')}".html_safe, edit_user_list_path(user, list)%></li>
        <li><%= link_to "<i class='icon-trash'></i> #{t('remove')}".html_safe, [list.user, list], :method => :delete, :confirm => t('are_you_sure')%></li>
      <% end %>
      </ul>
    </div>
    <br/>
    <em><%= time_ago_in_words(list.created_at) %></em>
  </div>
</div>