<h4><%= t('quick_links') %></h4>
<%= link_to "<i class='icon-star'></i>&nbsp;#{t('favorites')}".html_safe, "#" %>

<hr/>

<h4><%= t('users') %></h4>
<% if users.any? %>
  <ul class="nav nav-list well">
    <% users.each do |user| %>
      <li class="<%= "active" if user_viewed == user %>"><%= link_to user.name, user_lists_path(user) %></li>
    <% end %>
  </ul>
<% else %>
  <%= bootstrap_alert('', t('no_other_user'), Const::ALERT_INFO) %>
<% end %>
