<!DOCTYPE html>
<html>
<head>
  <title>Todoptec</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

  <%= render :partial => 'shared/navbar' %>

  <div class="container">

    <% if user_signed_in? %>
      <div class="row-fluid">
        <div class="span6">
          <%= yield %>
        </div>

        <div class="span3 offset3">
          <%= yield :sidebar %>
        </div>
      </div>
    <% else %>
      <%= yield %>
    <% end %>

  </div>

</body>
</html>
